{{ form_start(form) }}

{% for cadeaux in form.cadeaux %}
    <p>{{ form_label(cadeaux) }}
     {{ form_widget(cadeaux) }}</p>
{% endfor %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
