{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
                <th>Parité</th>
                <td>femmes : {{femmes / (hommes + femmes)}} <br> hommes: {{hommes / (hommes + femmes)}}</td>
            <tr>
                <th>Prix Moyen</th>
                <td>{{ (moyenne.sommePrix / moyenne.nb) | round(2, 'floor') }} €</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('categorie_index') }}">back to list</a>

    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>

    {% if categorie.cadeaux is empty %}
    {{ include('categorie/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
